html {
    background-color: black;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 10px grey;
    padding-left: 1em;
/*    width: 100%;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#validatie {
    display: inline-block;
}

#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

header h1 {
    margin: 0;
    padding: 1rem;
}

header p {
    text-align: right;
    margin-right: 2em;
    margin-left: auto;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

header p a {
    text-decoration: none;
    color: white;
}

header p a:hover {
    border-bottom: 1px black solid;
}


aside {
    padding: 1em;
    background-image: url(texture2.jpg);
    background-repeat: repeat;
    color: white;
    text-shadow: 1px 1px 15px black;
    border: 1px solid black;
}

#trlist {
    font-size: 0.8em;
}

article {
    padding: 1em;
    color: whitesmoke;
    background-color: darkolivegreen;
    text-shadow: 1px 1px 10px black;
}

article a {
    color: whitesmoke;
}

footer {
    padding: 1em;
    background-color: #444;
    color: white;
    text-shadow: 1px 1px 10px black;
}

#formimg {
  width: 100%;
}

#formtext {
  width: calc(100% - 44px);
}

#formsubmit {
  width: 34px;
}

/*lay-out met flexbox*/

/*eerst mobiel*/
main {
    display: flex;
    flex-direction: column;
}

aside {
    order: 1;
}

footer:after {
    content: ' Dit is voor mobiel';
}

/*vanaf 26 em*/
@media screen and (min-width: 26em) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        width: 100%;
    }

    aside {
        flex: 1;
    }

    footer:after {
        content: ' Dit is voor apparaten tussen 26 em en 36 em';
    }
}

/*vanaf 36 em*/
@media screen and (min-width: 36em) {
    main {
        flex-wrap: nowrap;
    }

    article {
        width: auto;
        flex: 3;
    }

    aside {
        order: 0;
    }

    footer:after {
        content: ' Dit is voor schermen groter dan 36 em';
    }
}
